<!--<div class="row">
    <div class="paper4">
     <table>
             <tr>
                    <td><p>Search Category</p></td> 
                    <td> <input class="form-control" #idproduct width="300px" (keyup.enter)="searchproduct(idproduct.value)" value="{{app.categoryselect.code}}" placeholder="Enter product id"></td>
                    <td><button (click)="searchproduct(idproduct.value)">search</button></td>
            </tr>
        </table>
    </div>
</div>-->
<div class="container paper7">
             <br /> 
             <br /> 
             <br />
             <br /> 
             <br /> 
    <div class='heroadvertise bwImg'>
        <div class="container-fluid text-center" >
             <br /> 
             <br /> 
              <span class="w3-text-white paper2" style="font-size:90px">Welcome</span>
            <br /> 
            <br /> 

        </div>
    </div>
<div>
    <br />    
<div class="row">
        <div class="col-md-8">
            <span *ngIf="viewtable">
                
               <div class="row">
                    <div class="col-sm-4"><h2>Search result: </h2></div>
                    <div class="col-md-4 offset-sm-4"><button (click)="changeview()" class="w3-button btn1 btn-md"><i class="material-icons">view_list</i></button></div>
                </div>
                <span *ngIf="this.sortproduct.length > 0">
                <div class="paper4">  
                    <br/>                
            <div *ngFor="let c of sortproduct" class="menu-cat paper">
                <div class="row" (click)="openproduct(c.id)">
                    <div class="col-sm-6">
                    <img [src]="pressnullpic(c.thumbnailPath)" style ="max-width:200px;max-height:200px;"/>
                </div>
                <div class="col-sm-6">
                        <p>Name: {{c.name}} </p>
                        <h4>Price: {{c.defaultPrice}} Baht</h4>
                </div>
            </div>                  
            </div>
                </div>
                </span>
            </span>
            <span *ngIf="!viewtable">

                <div class="row">
                    <div class="col-sm-4"><h2>Search result: </h2></div>
                    <div class="col-md-4 offset-sm-4"><button (click)="changeview()" class="w3-button btn1 btn-md"><i class="material-icons">grid_on</i></button></div>
                </div> 
                <span *ngIf="this.sortproduct.length > 0">
                <div class="paper4"> 
                <br/>                                
                <div class="list-items">
                    <div class="list-item menu-cat paper" *ngFor="let c of sortproduct" style ="width:200px;height:400px;" >
                        <img [src]="pressnullpic(c.thumbnailPath)" style ="max-width:180px;max-height:180px;"/>
                        <br/>
                        <br/>
                        <p>Name: {{c.name}} </p>
                        <h4>Price: {{c.defaultPrice}} Baht</h4>
                        <button (click)="openproduct(c.id)" class="w3-button btn1 btn-md">DETAIL</button>
                    </div>
                </div>
                </div>
                </span>
            </span>
            

        </div >
        <div class="col-md-4">
            <h2>Cart Product</h2>
            <span *ngIf="numproduct > 0">
            <div class="paper4">
            <div *ngFor="let c of orderproducts" class="menu-cat paper" (click)="openproduct(c.id)">
                <p>Name: {{c.name}} </p>
                <p>Price: {{c.defaultPrice}} Baht</p>
            </div>
            </div>
            </span>
            <button (click)="opencart()" class="w3-button btn1 btn-md">CART</button>
            <h2>Product Random</h2>
            <div class="paper4">
                 <div class="paper">
                
                </div>
            </div>
        </div >
        <div id="content" class="container-fluid">
            <router-outlet></router-outlet>
            
        </div>
    </div>
</div>
</div>